/* styling for form and output for proper gap */
form , .php{  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    width: 45%;
 }
 /* styling for output image*/
img{
    width: 50%;
}
.php{
    gap: 10px;
    margin-top: 0;
    width: 45%;
    padding: 10px;
}
body{
    display: flex;
    justify-content: center;
    background-color: #4CAF50;
    flex-direction: column;
    align-items: center;
}